body {
  margin: 0;
  background-color: #e3e6e4;
  padding: 25px;
}

.list_of{
    display: flex;
  flex-wrap: wrap;
}

.list_of > div {
    background-color: #f1f1f1;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 17px;
    margin-bottom: 30px;
    font-size: 30px;
}

.image {
    width: 158px;
    height: 201px;
}

.specific{
    margin-top:16px;
    margin-left: 50%;
    font-size: 20px;
    
}

.specific > span{
    border-bottom: 4px solid blue;
    font-size: 74;
}